.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid black;
}

.td,
.th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

body {
  margin: 0px;
}

.splash-img {
  background-image: url('./images/beers-snacks.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  max-width: 100%;
  height: 100vh;
  z-index: -10;
}

.splash-img-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.navbar {
  text-align: center;
  position: relative;
  top: 35%;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 2vh;
}

.li {
  display: inline;
}

.title {
  text-align: center;
  font-size: 69px;
  color: white;
  width: 100%;
  text-shadow: 2px 2px grey;
}

.header {
  background-color: beige;
  width: auto;
  height: 5vh;
}
